*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}
.headersection {
    background-image: url(netflixback.jpg);
    height: 644px;
    background-position: center ;
    background-size:   max(1200px, 200vw);
    background-repeat: no-repeat;
    position: relative; 
   
    
}
.box{
    opacity: 0.44;
    background-color: black;
    height: 644px;
    position: absolute;
    top: 0 ;
    width: 100%;

} 

.nav{
     
    /* max-width: 60vw; */
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 10;
  
}

@media screen and (max-width:181px) {
    .nav{
       overflow: auto;

    }
}

@media screen and (max-width:1279px) {
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center; 
        
    }
    
}
@media screen and (max-width:292px) {
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center; 
        flex-direction: column;
    }
    
}
 .eng{
   
   
    background-color: black;
    border-radius: 6px;
    color: white; 
    font-size: 17px;
    padding: 6px 30px;
    border: 1px solid grey;
    
}
@media screen and (max-width:292px) {
    .eng{
        margin-top: 20px;
    }
    
}


.sing{
    margin-left: 20px;
    font-size: 17px;
   color: white;

    background-color: red;
    border-radius: 5px;
    padding: 6px 10px;

    border: 1px solid red; 
}  
.section{ 
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white; 
    flex-direction: column; 
    margin-top: 100px;  
    height: 40vh
}




@media screen and (max-width:603px) {
    .section{
        margin-top: 150px;

    }
}

@media screen and (max-width:430px) {
    .section{
        margin-top: 6vh;

    }
}



@media screen and (max-width:191px) {
    .section{
        
       overflow-x: auto;  

    }
}

.sec{

    z-index: 10; 
    font-size: 48px; 

}

@media screen and (max-width:859px) {
    .sec{
       margin-top: 200px;
       margin-left: 20px; 

    }
}
@media screen and (max-width:859px) {
    .sec{
        font-size: 40px; 

    }
}
@media screen and (max-width:659px) {
    .sec{
        text-align: center;

    }
}
@media screen and (max-width:330px) {
    .sec{
        font-size: 30px; 

    }
}

.sse{
    z-index: 10; 
    font-size: 24px;
    padding-top: 10px;
}
@media screen and (max-width:659px) {
    .sse{
        text-align: center;

    }
}
.fe{
    z-index: 10;
    font-size: 20px;
    padding-top: 30px;
}
@media screen and (max-width:659px) {
    .fe{
        text-align: center;

    }
}

@media screen and (max-width:280px) {
    .fe{
        margin-left: 20px;

    }
}



input[type="email"] { 
    background-color:  rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    border-radius: 4px;
   margin-top: 10px;
    font-size: 12px;
    color: white;
    padding: 7px 150px 8px 14px; 
    height: 35px;
    margin-right: 10px;
    width: 150px;
}
@media screen and (max-width:338px) {
    input[type="email"] {
       width: 5vw;

    }
}
.sta{
    border: 1px solid red;
    border-radius: 4px;
    /* height: 50px;  */
    width: 150px;
   background-color: red;
   color: white;
  font-size: 25px;
  height: 50px;
  margin-top: 10px;
  

}


.buttons{
   display: flex;
   justify-content: center;
   align-items: center;
    z-index: 10;
}

@media screen and (max-width:559px) {
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
}

.separation{ 
   
    border: 3px solid rgb(59, 59, 59);

} 
.section2{
    display: flex;
    justify-content: center;
    align-items: center;   
    max-width: 70vw;               
    margin: auto;
margin-top: 100px;

} 
@media screen and (max-width:1073px) {
    .section2{
        display: flex;
        justify-content:space-between;
        align-items: center;
      flex-direction: column;
margin-top: 150px;  
        
    }
}

@media screen and (max-width:280px) {
    .section2{
        display: flex;
        justify-content:space-between;
        align-items: center;
      flex-direction: column;
margin-top: 50px;
margin-left: 55px;  
        
    }
}


.title1{

    color: white;  
    font-size: 48px;    
    text-align: center; 

    margin-bottom: 20px;  
}
@media screen and (max-width:280px) {
    .title1{
        font-size: 40px; 
       
    }
    
}

.title2{ 
    justify-content: center;
    align-items: center;  
    color: white;
    font-size: 24px;  
    text-align: center;
} 

@media screen and (max-width:280px) {
    .title2{
        font-size: 15px; 
       
    }
    
}

.tit{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    margin-right: 50px; 

}  




 .img{
    position: relative;  
   

}

.section2 video{
    position: absolute;  
    top: 60px;   
    width: 360px;
    left: 30px; 
    z-index: -10;    

}
@media screen and (max-width:414px) {
    .section2 video{
        width: 80vw;
        overflow: hidden;
       
    }
    
}
.section2 img {
    width: 400px; 
   
}
@media screen and (max-width:414px) {
    
    .section2 img{
        width: 100vw;
        overflow: hidden;
    }
    
} 

.section3{
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width:1188px) {
    .section3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;   
    }
}
.mobile{
    max-width: 70vw; 
     
}
.section3 img{
    width: 40vw;  
}
.sow{

    color: white;  
    font-size: 40px;     
    padding-bottom: 20px; 
    text-align: center;  
}

@media screen and (max-width:1188px) {
    .sow{
         text-align: center; 
       margin-top: 100px;  
    }
}
@media screen and (max-width:288px) {
    .sow{
        font-size: 30px; 
       
    }
    
}


.fav{
    color: white;
    font-size: 20px;  
    text-align: center;
}
.download{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}


.section4{
    display: flex;
    justify-content: center;
    align-items: center;   
    max-width: 80vw;               
    margin: auto;
margin-top: 100px;

} 
@media screen and (max-width:1073px) {
    .section4{
        display: flex;
        justify-content:space-between;
        align-items: center;
      flex-direction: column;
margin-top: 150px;  
        
    }
}

@media screen and (max-width:280px) {
    .section4{
        display: flex;
        justify-content:space-between;
        align-items: center;
      flex-direction: column;
margin-top: 50px;
margin-left: 55px;  
        
    }
}


.title1{

    color: white;  
    font-size: 48px;    
    text-align: center; 

    margin-bottom: 20px;  
}
@media screen and (max-width:288px) {
    .title1{
        font-size: 30px; 
       
    }
    
}

.title2{ 
    justify-content: center;
    align-items: center;  
    color: white;
    font-size: 24px;  
    text-align: center;
} 

@media screen and (max-width:288px) {
    .title2{
        font-size: 15px; 
       
    }
    
}

.tit{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    margin-right: 50px; 

}  




 .imga{
    position: relative; 
    
 }

 .section4 video{

    position:absolute;
    right: 120px;
    top: 30px;  
    z-index: -10;  
    width: 400px;
    height: 260px;
 }
 @media screen and (max-width:633px) {
    .section4 video{
      height: 138px;
      left: 5px;

      
    }
    
 }

 @media screen and (max-width:400px) {
    .section4 video{
   top: 0px;
   width: 100px;
   left: 60px;
     

    }
    
 }
 .section4 img{
    overflow: clip;
 }
 @media screen and (max-width:633px) {
    .section4 img{
        width:400px;
    
    }

    
 }

 @media screen and (max-width:400px) {
    .section4 img{
        width:200px;
    
    }

    
 }
.fa{
    font-size: 30px;
    color: white;
    padding-left: 49px;
    text-align: center;
}
.hu{
     color: white;
     font-size: 49px;
     text-align: center;
    padding-top: 50px;
}


    .quest1{
        display: flex;
        justify-content: space-between;
        align-items: center;
         color: white;   
         font-size: 29px; 
         padding: 34px;
         background-color: #2d2d2d;
         max-width: 70vw;  
         margin: 34px auto;
         cursor: pointer;
    }

    .quest1:hover{

        background-color: #414141;
    color: white;
    }

    .quest1 svg {
        filter: invert(1);
    }

    .nic{
        color: white;
        text-align: center;
        font-size: 21px;
    } 
    .separation{
        margin-top: 20px;
    }
    
 .questions{
    color: white;  
     margin-left: 15vw;
     margin-top: 5vh; 
 }
.footer-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10vw;
    padding-top: 4vh; 
      


}


.footer a {
    font-size: 20px;
    color: white;
}

@media screen and (max-width:743px) {
    .footer a {
        font-size: 15px;
    }
}

@media screen and (max-width:504px) {
    .footer a {
        font-size: 3vw;
    }
}



.footer{
    max-width: 90vw;
}
